// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px,
  super-largest: 1441px,
);

$color: (
  primary: #82af7c,
  orange-a: #a17143,
  orange-b: #d2ae7f,
  grey-a: #f3f3f3,
  grey-b: #8d8d8d,
  grey-c: #888888,
  grey-d: #dddddd,
  grey-e: #26272b,
  black: #000000,
  white: #ffffff,
  warning: #ff8700,
  violet: #b97ebb,
  blue-a: #007bff,
  info: #17a2b8,
  fb: #3b5998,
  twitter: #00aced,
  linkedin: #007bb6,
  dribbble: #ea4c89,
);

$font-size: (
  xxs: 10px,
  xs: 11px,
  sm: 13px,
  normal: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 24px,
  xxxl: 30px,
);
$col-max: 12;
$font-body: san-serif;
$font-japan: serif;
