.alert {
  @include pxRem(top, 50);
  @include pxRem(right, 20);
  @include pxRem(padding, 10 25);
  position: fixed;
  display: flex;
  z-index: 100;
  border-radius: 5px;
  &.alert-error {
    color: #eb5757;
    background-color: #ffdbdc;
  }
  &.alert-success {
    color: #fff;
    background-color: map-get($map: $color, $key: primary);
  }
}
