.article-item {
  @include pxRem(margin-bottom, 10);
  position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 8px map-get($color, grey-c);
  .article-img {
    @include pxRem(height, 250);
    width: 100%;
  }
  .dropdown {
    @include pxRem(top, 10);
    @include pxRem(right, 10);
    position: absolute;
    display: inline-block;
    &:hover {
      .sub-dropdown {
        display: block;
      }
      .btn-dropdown {
        opacity: 0.8;
      }
    }
    .btn-dropdown {
      @include pxRem(padding, 4 6);
      @include pxRem(font-size, 16);
      border: none;
      border-radius: 5px;
      background-color: map-get($color, grey-d);
      color: white;
    }
    .sub-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      border-radius: 5px;
      background-color: map-get($color, grey-a);
      z-index: 1;
      a {
        @include pxRem(padding, 4);
        display: block;
        color: map-get($color, black);
        text-decoration: none;
        &:hover {
          border-radius: 5px;
          color: map-get($color, white);
          background-color: map-get($color, info);
        }
      }
    }
  }
  .article-author{
    display: flex;
    align-items: center;
    color: map-get($color, grey-b);
    .author-img {
      @include pxRem(width, 32);
      @include pxRem(height, 32);
      @include pxRem(margin-right, 8);
    }
    .author-name {
      color: map-get($color, black);
    }
    .article-tag {
      @include pxRem(padding, 2);
      border-radius: 5px;
      background: map-get($color, warning);
      color: map-get($color, white);
    }
  }
  .article-body {
    @include pxRem(padding, 0 10);
    .article-title {
      @include pxRem(height, 60);
      @include line-clamp(2);
      text-align: justify;
      font-size: map-get($font-size, lg);
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .article-content {
      @include pxRem(height, 64);
      @include line-clamp(3);
      color: map-get($color, grey-b);
      font-size: map-get($font-size, sm);
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .article-interact {
    @include pxRem(padding, 0 10 8);
    display: flex;
    color: map-get($color, grey-b);
    justify-content: center;
    align-items: center;
    .article-interact-item {
      @include pxRem(margin-right, 20);
      display: flex;
      align-items: center;
      font-size: map-get($font-size, normal);
      &.btn-read-more {
        @include pxRem(padding, 4);
        border-radius: 5px;
        background: map-get($color, violet);
        color: map-get($color, white);
      }
      .interact-icon {
        @include pxRem(width, 24);
        @include pxRem(height, 24);
        @include pxRem(margin-right, 4);
      }
    }
  }
}
