.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  &.btn-primary {
    color: map-get($map: $color, $key: white);
    background-color: map-get($map: $color, $key: primary);
  }
  &.btn-outline {
    @include pxRem(min-width, 85);
    @include pxRem(min-height, 30);
    @include pxRem(padding, 8);
    background-color: transparent;
    border: 1px solid map-get($map: $color, $key: blue-a);
    color: map-get($map: $color, $key: blue-a);
  }
  &.btn-icon {
    @include pxRem(padding, 12);
    border-radius: 20px;
  }
  &.btn-block {
    @include pxRem(padding, 10);
    width: 100%;
    font-size: map-get($map: $font-size, $key: normal);
  }
  &.btn-accept {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  &.btn-cancel {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
.btn-change {
  @include pxRem(padding, 8);
  @include pxRem(margin, 0 8);
  border-radius: 5px;
  background: map-get($color, primary);
  color: map-get($color, white);
}
.btn-edit {
  @include pxRem(padding, 8);
  @include pxRem(margin, 0 8);
  border-radius: 5px;
  background: map-get($color, blue-a);
  color: map-get($color, white);
}
