.button-google-login {
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  background-color: white;
  border: 1px solid #d8dfee;
  cursor: pointer;
  .button-title {
    font-weight: bolder;
    color: #161849;
  }
  .icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}
