.basic-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: convertPxToRem(65px);
  .header-img {
    height: convertPxToRem(45px);
  }
}
.basic-main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .page-heading {
    @include pxRem(padding-bottom, 20);
    .page-title {
      font-size: map-get($map: $font-size, $key: xxxl);
      font-weight: bold;
    }
  }
  .page-content {
    max-width: convertPxToRem(400px);
    width: 100%;
    .tips {
      text-align: center;
      .text-link {
        color: #7269ef;
      }
    }
  }
}
