.page-container {
  @include pxRem(padding, 30);
  .page-header-detail {
    @include pxRem(padding, 20 0 40);
    .article-title {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0;
      font-size: 40px;
      font-weight: 600;
      color: #2e2e34;
      text-align: center;
      letter-spacing: 0.2px;
      line-height: 1.35;
      &::after {
        @include pxRem(width, 15);
        @include pxRem(height, 2);
        @include pxRem(margin, 10 auto 20);
        @include pxRem(bottom, -20);
        content: "";
        position: absolute;
        background-color: #2e2e34;
      }
    }
    .article-author {
      display: flex;
      justify-content: center;
      align-items: center;
      .text-writen-by {
        @include pxRem(margin-right, 10);
        font-size: 12px;
        color: #7c7e80;
        letter-spacing: 0.2px;
      }
      .author {
        @include pxRem(margin-right, 30);
        display: flex;
        align-items: center;
        color: #d2ae7f;
      }
      .follow-author {
        @include pxRem(width, 85);
        @include pxRem(height, 30);
        background: white;
        border: 1px solid #3399ff;
        border-radius: 5px;
      }
    }
    .article-list {
      @include pxRem(padding-top, 15);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .article-detail-item {
        @include pxRem(margin, 0 10);
        color: #8f8f9c;
        .btn-heart,
        .btn-comment {
          @include pxRem(width, 70);
          @include pxRem(height, 35);
          border-radius: 20px;
          i {
            @include pxRem(margin-right, 10);
          }
        }
        .btn-bookmark {
          @include pxRem(width, 36);
          @include pxRem(height, 36);
          border-radius: 20px;
        }
      }
    }
  }
  .page-content-detail {
    img {
      @include pxRem(max-height, 500);
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
    .content-detail {
      @include pxRem(margin-top, 30);
    }
  }
}
