.page-container {
  @include pxRem(padding, 30 0);
  .article-header {
    @include pxRem(padding, 20 0 40);
    .article-title {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0;
      font-size: 40px;
      font-weight: 600;
      color: map-get($map: $color, $key: grey-e);
      text-align: center;
      letter-spacing: 0.2px;
      line-height: 1.35;
      &::after {
        @include pxRem(width, 15);
        @include pxRem(height, 2);
        @include pxRem(margin, 10 auto 20);
        @include pxRem(bottom, -20);
        content: "";
        position: absolute;
        background-color: map-get($map: $color, $key: grey-e);
      }
    }
    .article-author {
      display: flex;
      justify-content: center;
      align-items: center;
      .text-writen-by {
        @include pxRem(margin-right, 10);
        font-size: 12px;
        color: map-get($map: $color, $key: grey-b);
        letter-spacing: 0.2px;
      }
      .article-author-name {
        @include pxRem(margin-right, 30);
        display: flex;
        align-items: center;
        color: map-get($map: $color, $key: orange-b);
      }
    }
    .article-actions {
      @include pxRem(padding-top, 15);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .article-action-item {
        @include pxRem(margin, 0 10);
        .btn-heart,
        .btn-comment {
          @include pxRem(width, 70);
          @include pxRem(height, 35);
          border-radius: 20px;
          i {
            @include pxRem(margin-right, 10);
          }
        }
        .btn-bookmark {
          @include pxRem(width, 36);
          @include pxRem(height, 36);
          border-radius: 20px;
        }
      }
    }
  }
  .article-body {
    .article-cover-image {
      @include pxRem(max-height, 500);
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
    .article-content {
      @include pxRem(margin-top, 30);
    }
  }
}
