.page-container {
  .container {
    .page-title {
      @include pxRem(margin-bottom, 20);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    .row-ck {
      .ck-editor {
        width: 100%;
      }
    }
  }
  .form-btn-group {
    @include pxRem(margin-top, 50);
    @include pxRem(margin-left, 80);
    justify-content: center;
  }
}
